{% extends 'base.html.twig' %}


{% block title %}
    {% if app.user %}
    Déconnexion
    {% else %}
    Connexion
    {% endif %}
{% endblock %}

{% block body %}
    <h1>     {% if app.user %}
            Déconnexion
        {% else %}
            Connexion
        {% endif %} </h1>
    <div id="login" class="container pt-5 pb-5">
        <div class="row">
            <div class="col-6 mx-auto">



                    {% if app.user %}
                        <div class="mb-3 text-center">
                            Vous êtes connecté en tant que <b>{{ app.user.username }}</b>

                        </div>
                        <br>

                        <a class="btn btn-block btn-primary"  href="{{ path('app_logout') }}">Déconnexion</a>
                        {%  else  %}
                    <form method="post">

                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class = "mb-3">
                            <label for="inputEmail">E-mail</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                        </div>
                        <div class = "mb-3">
                            <label for="inputPassword">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>
                        </div>


                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        <div class = "mb-3">
                            <input type="submit" value="Connexion" class="btn btn-block btn-primary" />

                        </div>
                        <div class = "mb-3">
                            <a href="#"> Mot de passe oublié ? </a>
                        </div>


                    </form>
                    {% endif %}



            </div>
        </div>


    </div>
{% endblock %}
